<div class="alert alert-primary" role="alert" *ngIf="listItems.length===0">
    This folder is emplty
  </div>
<div *ngIf="listItems.length>0">
	<div class="row">
    <div class="col-3 mb-4" *ngFor="let item of listItems">
      <a  *ngIf="!item.folder">
        <i class="fa fa-file-text-o" aria-hidden="true" *ngIf="!item.folder"></i>
        {{item.name}}</a>

    <a routerLink="/folder/{{item.id}}" *ngIf="item.folder" >
        <i class="fa fa-folder" aria-hidden="true" *ngIf="item.folder"></i>
        {{item.name}}</a>
    </div>

  </div>
</div>