<div>
<div class="modal-header">
	<h4 class="modal-title" id="modal-basic-title">Create new folder</h4>
	<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form>
		<div class="form-group">
			<label for="folderName">Folder Name</label>
			<div class="input-group">
				<input id="folderName" class="form-control" name="folderName" [(ngModel)]="newFolder.name" type="text">

			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>
</div>
		

	